@font-face {
    font-family: "butler";
    src: 
        url("fonts/Butler-Medium.woff2") format("woff2"),
        url("fonts/Butler-Medium.woff") format("woff");
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: "game";
    src: 
    url("fonts/game_of_squids-webfont.woff") format("woff"),
    url("fonts/game_of_squids-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'butler', "josefin Sans", sans-serif;
    display: flex;
    flex-flow: row;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#side{
    width: 40%;
}

#mainPage{
    width: 60%;
    height: 100%;
}

*{
    box-sizing: border-box;
}






