@font-face {
    font-family: "butler";
    src: 
        url("fonts/Butler-Medium.woff2") format("woff2"),
        url("fonts/Butler-Medium.woff") format("woff");
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: "game";
    src: 
    url("fonts/game_of_squids-webfont.woff") format("woff"),
    url("fonts/game_of_squids-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'butler', "josefin Sans", sans-serif;
    display: flex;
    flex-flow: row;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
img{
    display: block;
    width: 5em;
    height: 5em;
}
/* light reset and style */
a{
    color: inherit;
    font-family: 'Courier New', Courier, monospace;
}

/* style for teh odin logo */
#logo{
    height: 20%;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.754);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

#logo div{
    color: white;
    font-family: "game";
    font-size: 3em;
   
}

#side{
    background-image:url(picures/unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 40%;
    /* to make the bottom div a footer/go down */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* styling the credit footer */
#side #bottom{
    color: white;
    font-size: 1em;
    font-family: "game";
    margin-bottom: 0.5em;
}

/* the form page */
#mainPage{
    width: 60%;
}

*{
    box-sizing: border-box;
}






